/*import fonts from fonts.css file*/ 
@import url(./fonts.css);

@import url(./partials/_variables.css);
@import url(./partials/_global.css);
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url(./normalize.css);

*,
*::before,
*::after{
    margin: 0;
    padding:0;
}





html{
    font-family: montserrat;
}

.blue-maroon-transition {
    background: url();

    height: 10.375rem;
    background-size: auto 100%;

}

.End_blue-maroon-transition {
    background: url();
  
    height: 10.375rem;
    background-size: auto 100%;

}



/* start navigation */
.header_area{
  display: block;
}
.header_area .mainmenu{
  background-color: #0d1623;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 80px;
  border-bottom: 1px solid #1e2f46;
}
.header_area{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}
.header_area .mainmenu .container-fluid{
  width: 100%;
}

.logo{
  color:white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 40px;
  font-weight: bold;
  text-decoration: none;

}
.logo_img{
  height: 80px;
}
.header_area ul{
  float: right;
  margin-right: 20px;
}
.header_area ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.header_area ul li a{
  color: white;
  font-size: 17px;
  font-family: montserrat;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}


.nav-item a.active,a:hover{
  /* background: #9ca4af; */
  /* border-radius: 20%; */
  font-weight: bold;
  color: #9deea8;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width:952px){
  a.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  .header_area ul li a{
    font-size: 16px;

  }
}
@media (max-width:852px) {
  .checkbtn{
    display: block;
  }
  .header_area ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #446186;
    top: 80px;
    left: -110%;
    text-align: center;
    transition: all .5s;
  }
  .header_area ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .header_area ul li a{
    font-size: 20px;

  }
  a.active,ul li a:hover{
    background: none;
    color: #ffffff;
  }
  #check:checked ~ ul{
    left: 0;
  }  
}






/* end navigation  */

/* body */


/* Porfolio index Starts Here*/
/*background image for index page*/
#image-container {
  overflow: hidden;
}

#image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  padding: 0;
}


/* Porfolio ends*/


/* Contact me stuff*/
.c_body{
  width: 100%;
  padding-top: 0px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);

}

/* Heading Block need to change to black here */
  .container_cntct{
    position:relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73));
    background-attachment: fixed;
    background-position: top;
    width: 100%;
    background-size: cover;
    color: rgb(0, 0, 0);
    z-index: 0;

  }
  .container_cntct img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  

  .container_cntct .heading_cntct{
    color: #000000;
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
  }
  .container_cntct .heading_cntct{
    text-align: left;
    padding-left: 20px;
    font-size: 40px;
    font-family: "Roboto Condensed", Sans-serif;
    font-weight: 700;
    color: #000000;

  }
  .cont_card_wrap{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cont_card_wrap .cont_card_item{
    padding: 15px 25px;
    width: 25%;

  }

  .cont_card_wrap .cont_card_inner{
    background: #fff;
    border-radius: 5px;
    padding: 35px 20px;
    min-width: 225px;
    min-height: 315px;
    max-height: 370px;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    border: 0px solid #f2f8f9;
  }
  

  .cont_card_inner:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: rgb(223, 223, 223);
    text-decoration-color: #cccccc;
  }
  

  .cont_card_inner:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: rgb(223, 223, 223);
    text-decoration-color: #cccccc;
  }

  .cont_card_inner:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);  
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
    }

  .cont_card_inner:hover:before {
    transform: scale(2.15);
    }
    
  

  

  .cont_card_inner:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);  
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
    }

  .cont_card_inner:hover:before {
    transform: scale(2.15);
    }
    
  

  

  .cont_card_inner:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);  
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
    }

  .cont_card_inner:hover:before {
    transform: scale(2.15);
    }
    
  

  

  .cont_card_wrap .cont_card_inner img{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    margin: auto;
    display: block;
  }
  .cont_card_wrap .cont_card_inner:hover img{
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
    margin: auto;
    display: block;
  }
  .cont_card_wrap .cont_card_inner img:before{
    transition: transform 1s ease-out ;
  }
  .cont_card_wrap .cont_card_inner img:hover:before{
    transform: scale(2.15);
  }
  .cont_card_wrap .cont_card_inner:hover img{
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
    margin: auto;
    display: block;
  }
  .cont_card_wrap .cont_card_inner img:before{ /*I should probably change this image to not transform and have the size be fixed*/
    transition: transform 1s ease-out ;
  }
  .cont_card_wrap .cont_card_inner img:hover:before{
    transform: scale(1);
  }

  .cont_card_wrap .cont_card_inner .s_media{
    color: #e36686;
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
  .cont_card_wrap .cont_card_inner .s_media_p{
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    color: #23252B;
  }
  
  .cont_card_wrap .cont_card_inner a:link{
    text-decoration: none;
  }
  .cont_card_wrap .cont_card_inner a:visited{
    text-decoration: none;
  }
  .cont_card_wrap .cont_card_inner a:hover{
    text-decoration: none;
  }
  .cont_card_wrap .cont_card_inner a:active{
    text-decoration: none;
  }
 
  .FormContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

  }
  .contact_form{
    width: 400px;
    padding: 40px;
    background: #fff;
    justify-content: left;
  }

  .contact_form .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .contact_form .contactInfo .c_box{
    position: relative;
    padding: 20px 0;
    display: flex;

  }

  .contact_form .contactInfo .c_box .icon{
    min-width: 60px;
    min-height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
  }

  .contact_form .contactInfo .c_box .text{
    display: flex;
    margin-left: 20 px;
    font-size: 16px;
    color: black;
  }
  .contact_form h2{
    font-size: 30px;
    color: #333;
    font-weight: 300;
    text-align: center;

  }
  .contact_form .input_box{
    position: relative;
    width: 100%;
    margin-top: 15px;
  }
  .contact_form .input_box input,
  .contact_form .input_box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  .contact_form .input_box span{
    position:absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }

  .contact_form .input_box input:focus ~ span,
  .contact_form .input_box input:valid ~ span,
  .contact_form .input_box textarea:focus ~ span,
  .contact_form .input_box textarea:valid ~ span
  {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
  }
  .contact_form .input_box input[type = "submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }

  .contact_form .input_box input:focus ~ span,
  .contact_form .input_box input:valid ~ span,
  .contact_form .input_box textarea:focus ~ span,
  .contact_form .input_box textarea:valid ~ span
  {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
  }
  .contact_form .input_box input[type = "submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }

  .contact_form .input_box input:focus ~ span,
  .contact_form .input_box input:valid ~ span,
  .contact_form .input_box textarea:focus ~ span,
  .contact_form .input_box textarea:valid ~ span
  {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
  }
  .contact_form .input_box input[type = "submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }







  @media screen and (max-width: 1024px){
    .cont_card_wrap .cont_card_item{
      width: 33%;
    }
  
  }

  @media screen and (max-width: 768px){
    .cont_card_wrap .cont_card_item{
      width: 50%;
    }
  
  }
  @media screen and (max-width: 568px){
    .cont_card_wrap .cont_card_item{
      width: 100%;
    }

  }
  @media (max-width:991px){
    .FormContainer{
      flex-direction: column;
    }
    .FormContainer .contactInfo{
      margin-bottom: 40px;
    }
  }
  /*Main Animated image */
.animation-container {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 75%;
    overflow: hidden;
    pointer-events: none;
}

.animation-container .bg-slide {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.animation-container .bg-slide.visible {
    opacity: 1;
}

/*blurred navbar and buttons */
/* Styles for the navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  backdrop-filter: blur(10px); /* Apply blur effect */
  z-index: 9999; /* Ensure the navbar appears in the foreground */
}

/* Styles for the navbar links/buttons */
.navbar-nav .nav-link {
  backdrop-filter: blur(10px); /* Apply blur effect */
}
/* Additional styles for the content below the navbar */
.content {
  padding-top: 100px; /* Add padding to create space below the fixed navbar */
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(85%);
}

.hero-logo {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
}

.hero-logo img {
    width: 180px;
}

/* floating map buttons */
.icon {
    width: 50px;
    height: 50px;
    background: #ffa94d;
    border-radius: 50%;
    position: absolute;
    opacity: 0.9;
}

/* Example positions like the screenshot */
.icon-1 { top: 40%; left: 30%; }
.icon-2 { top: 55%; left: 60%; }
.icon-3 { top: 20%; right: 15%; }
.icon-4 { top: 70%; left: 45%; }

.overview-box {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 320px;
    padding: 20px;
    background: rgba(0,0,0,0.45);
    border-radius: 10px;
    color: white;
}

.book-btn {
    margin-top: 10px;
    background: #ffb04c;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
}

.award-badge {
    position: absolute;
    bottom: 40px;
    right: 40px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 3px solid #ffb04c;
    font-weight: 600;
}

.navbar a {
    color: white !important;
    font-weight: 500;
}



/* Main wrapper */
.home_body {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}

/* Heading */
.home_header h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.home_header p {
    font-size: 1.2rem;
    opacity: 0.8;
    text-align: center;
    margin-bottom: 30px;
}

/* Card Layout */
.home_card_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.home_card_item {
    padding-top: 25px;
    width: 300px;
}

.home_card_inner {
    background: rgba(0, 0, 0, 0.55);
    padding: 25px;
    border-radius: 12px;
    backdrop-filter: blur(6px);
    transition: 0.25s ease;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.home_card_inner:hover {
    transform: translateY(-6px);
    background: rgba(0, 0, 0, 0.75);
}

/* Card elements */
.home_card_inner h2 {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.home_card_inner p {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 20px;
}

/* Button */
.home_btn {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 8px;
    background: #ffffff;
    color: black;
    font-weight: 600;
    text-decoration: none;
    transition: 0.25s;
}

.home_btn:hover {
    background: #dcdcdc;
}

/* Index Page Specific Styles */
.index-page {
    background-color: black; /* Set background to black for index page */
    color: white;            /* Set text color to white for contrast */
    font-family: 'Courier New', Courier, monospace; /* Monospace font for a hacker feel */
}

body.index-page {
    background-color: black !important; /* Force background to black */
    color: white !important;            /* Force text color to white */
}

/* Ensure home_body respects index-page styles */
.index-page .home_body {
    background-color: black !important; /* Ensure home body is also black */
}
